/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --background-grey: rgba(248, 248, 250, 1);
  --big-heading-font-family: "ABeeZee", Helvetica;
  --big-heading-font-size: 36px;
  --big-heading-font-style: normal;
  --big-heading-font-weight: 400;
  --big-heading-letter-spacing: 0px;
  --big-heading-line-height: normal;
  --black: rgba(19, 19, 21, 1);
  --body-text-font-family: "Abel", Helvetica;
  --body-text-font-size: 16px;
  --body-text-font-style: normal;
  --body-text-font-weight: 400;
  --body-text-large-bold-font-family: "DM Sans", Helvetica;
  --body-text-large-bold-font-size: 18px;
  --body-text-large-bold-font-style: normal;
  --body-text-large-bold-font-weight: 700;
  --body-text-large-bold-letter-spacing: -0.36px;
  --body-text-large-bold-line-height: 30px;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: normal;
  --body-text-medium-medium-font-family: "DM Sans", Helvetica;
  --body-text-medium-medium-font-size: 16px;
  --body-text-medium-medium-font-style: normal;
  --body-text-medium-medium-font-weight: 500;
  --body-text-medium-medium-letter-spacing: -0.32px;
  --body-text-medium-medium-line-height: 28px;
  --body-text-small-body-small-medium-font-family: "DM Sans", Helvetica;
  --body-text-small-body-small-medium-font-size: 14px;
  --body-text-small-body-small-medium-font-style: normal;
  --body-text-small-body-small-medium-font-weight: 500;
  --body-text-small-body-small-medium-letter-spacing: -0.2800000000000001px;
  --body-text-small-body-small-medium-line-height: 24px;
  --brand-colorsgoogle: rgba(66, 133, 244, 1);
  --button-btn-font-family: "Roboto", Helvetica;
  --button-btn-font-size: 14px;
  --button-btn-font-style: normal;
  --button-btn-font-weight: 500;
  --button-btn-letter-spacing: 1.0800000429153442px;
  --button-btn-line-height: normal;
  --display-text-extra-small-bold-font-family: "DM Sans", Helvetica;
  --display-text-extra-small-bold-font-size: 24px;
  --display-text-extra-small-bold-font-style: normal;
  --display-text-extra-small-bold-font-weight: 700;
  --display-text-extra-small-bold-letter-spacing: -0.48px;
  --display-text-extra-small-bold-line-height: 32px;
  --display-text-small-bold-font-family: "DM Sans", Helvetica;
  --display-text-small-bold-font-size: 34px;
  --display-text-small-bold-font-style: normal;
  --display-text-small-bold-font-weight: 700;
  --display-text-small-bold-letter-spacing: -0.68px;
  --display-text-small-bold-line-height: 42px;
  --ffffff: rgba(255, 255, 255, 1);
  --gray-100: rgba(236, 236, 236, 1);
  --gray-300: rgba(197, 197, 197, 1);
  --gray-600: rgba(126, 126, 126, 1);
  --gray-800: rgba(63, 63, 63, 1);
  --grey: rgba(104, 124, 148, 1);
  --heading-font-family: "ABeeZee", Helvetica;
  --heading-font-size: 24px;
  --heading-font-style: normal;
  --heading-font-weight: 400;
  --heading-letter-spacing: 0px;
  --heading-line-height: normal;
  --headline-h6-font-family: "Roboto", Helvetica;
  --headline-h6-font-size: 16px;
  --headline-h6-font-style: normal;
  --headline-h6-font-weight: 500;
  --headline-h6-letter-spacing: 0px;
  --headline-h6-line-height: normal;
  --lightlight-20: rgba(217, 225, 225, 0.2);
  --navy-blue: rgba(16, 16, 123, 1);
  --neutral-colors500: rgba(224, 224, 233, 1);
  --neutral-colorswhite: rgba(255, 255, 255, 1);
  --paragraph-font-family: "ABeeZee", Helvetica;
  --paragraph-font-size: 12px;
  --paragraph-font-style: normal;
  --paragraph-font-weight: 400;
  --paragraph-letter-spacing: 0px;
  --paragraph-line-height: normal;
  --primary: rgba(120, 72, 244, 1);
  --primarypurple-blue500-primary-color: rgba(67, 24, 255, 1);
  --shadow-2px: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  --shadow-4-px: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  --sub-heading-font-family: "ABeeZee", Helvetica;
  --sub-heading-font-size: 18px;
  --sub-heading-font-style: normal;
  --sub-heading-font-weight: 400;
  --sub-heading-letter-spacing: 0px;
  --sub-heading-line-height: normal;
  --sub-paragraph-font-family: "Abel", Helvetica;
  --sub-paragraph-font-size: 12px;
  --sub-paragraph-font-style: normal;
  --sub-paragraph-font-weight: 400;
  --sub-paragraph-letter-spacing: 0px;
  --sub-paragraph-line-height: normal;
  --white: rgba(255, 255, 255, 1);
  --white-1: rgba(255, 255, 255, 1);
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --background-grey: rgba(248, 248, 250, 1);
  --big-heading-font-family: "ABeeZee", Helvetica;
  --big-heading-font-size: 36px;
  --big-heading-font-style: normal;
  --big-heading-font-weight: 400;
  --big-heading-letter-spacing: 0px;
  --big-heading-line-height: normal;
  --black: rgba(19, 19, 21, 1);
  --body-text-font-family: "Abel", Helvetica;
  --body-text-font-size: 16px;
  --body-text-font-style: normal;
  --body-text-font-weight: 400;
  --body-text-large-bold-font-family: "DM Sans", Helvetica;
  --body-text-large-bold-font-size: 18px;
  --body-text-large-bold-font-style: normal;
  --body-text-large-bold-font-weight: 700;
  --body-text-large-bold-letter-spacing: -0.36px;
  --body-text-large-bold-line-height: 30px;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: normal;
  --body-text-medium-medium-font-family: "DM Sans", Helvetica;
  --body-text-medium-medium-font-size: 16px;
  --body-text-medium-medium-font-style: normal;
  --body-text-medium-medium-font-weight: 500;
  --body-text-medium-medium-letter-spacing: -0.32px;
  --body-text-medium-medium-line-height: 28px;
  --body-text-small-body-small-medium-font-family: "DM Sans", Helvetica;
  --body-text-small-body-small-medium-font-size: 14px;
  --body-text-small-body-small-medium-font-style: normal;
  --body-text-small-body-small-medium-font-weight: 500;
  --body-text-small-body-small-medium-letter-spacing: -0.2800000000000001px;
  --body-text-small-body-small-medium-line-height: 24px;
  --brand-colorsgoogle: rgba(66, 133, 244, 1);
  --button-btn-font-family: "Roboto", Helvetica;
  --button-btn-font-size: 14px;
  --button-btn-font-style: normal;
  --button-btn-font-weight: 500;
  --button-btn-letter-spacing: 1.0800000429153442px;
  --button-btn-line-height: normal;
  --display-text-extra-small-bold-font-family: "DM Sans", Helvetica;
  --display-text-extra-small-bold-font-size: 24px;
  --display-text-extra-small-bold-font-style: normal;
  --display-text-extra-small-bold-font-weight: 700;
  --display-text-extra-small-bold-letter-spacing: -0.48px;
  --display-text-extra-small-bold-line-height: 32px;
  --display-text-small-bold-font-family: "DM Sans", Helvetica;
  --display-text-small-bold-font-size: 34px;
  --display-text-small-bold-font-style: normal;
  --display-text-small-bold-font-weight: 700;
  --display-text-small-bold-letter-spacing: -0.68px;
  --display-text-small-bold-line-height: 42px;
  --ffffff: rgba(255, 255, 255, 1);
  --gray-100: rgba(236, 236, 236, 1);
  --gray-300: rgba(197, 197, 197, 1);
  --gray-600: rgba(126, 126, 126, 1);
  --gray-800: rgba(63, 63, 63, 1);
  --grey: rgba(104, 124, 148, 1);
  --heading-font-family: "ABeeZee", Helvetica;
  --heading-font-size: 24px;
  --heading-font-style: normal;
  --heading-font-weight: 400;
  --heading-letter-spacing: 0px;
  --heading-line-height: normal;
  --headline-h6-font-family: "Roboto", Helvetica;
  --headline-h6-font-size: 16px;
  --headline-h6-font-style: normal;
  --headline-h6-font-weight: 500;
  --headline-h6-letter-spacing: 0px;
  --headline-h6-line-height: normal;
  --lightlight-20: rgba(217, 225, 225, 0.2);
  --navy-blue: rgba(16, 16, 123, 1);
  --neutral-colors500: rgba(224, 224, 233, 1);
  --neutral-colorswhite: rgba(255, 255, 255, 1);
  --paragraph-font-family: "ABeeZee", Helvetica;
  --paragraph-font-size: 12px;
  --paragraph-font-style: normal;
  --paragraph-font-weight: 400;
  --paragraph-letter-spacing: 0px;
  --paragraph-line-height: normal;
  --primary: rgba(120, 72, 244, 1);
  --primarypurple-blue500-primary-color: rgba(67, 24, 255, 1);
  --shadow-2px: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  --shadow-4-px: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  --sub-heading-font-family: "ABeeZee", Helvetica;
  --sub-heading-font-size: 18px;
  --sub-heading-font-style: normal;
  --sub-heading-font-weight: 400;
  --sub-heading-letter-spacing: 0px;
  --sub-heading-line-height: normal;
  --sub-paragraph-font-family: "Abel", Helvetica;
  --sub-paragraph-font-size: 12px;
  --sub-paragraph-font-style: normal;
  --sub-paragraph-font-weight: 400;
  --sub-paragraph-letter-spacing: 0px;
  --sub-paragraph-line-height: normal;
  --white: rgba(255, 255, 255, 1);
  --white-1: rgba(255, 255, 255, 1);
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --background-grey: rgba(248, 248, 250, 1);
  --big-heading-font-family: "ABeeZee", Helvetica;
  --big-heading-font-size: 36px;
  --big-heading-font-style: normal;
  --big-heading-font-weight: 400;
  --big-heading-letter-spacing: 0px;
  --big-heading-line-height: normal;
  --black: rgba(19, 19, 21, 1);
  --body-text-font-family: "Abel", Helvetica;
  --body-text-font-size: 16px;
  --body-text-font-style: normal;
  --body-text-font-weight: 400;
  --body-text-large-bold-font-family: "DM Sans", Helvetica;
  --body-text-large-bold-font-size: 18px;
  --body-text-large-bold-font-style: normal;
  --body-text-large-bold-font-weight: 700;
  --body-text-large-bold-letter-spacing: -0.36px;
  --body-text-large-bold-line-height: 30px;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: normal;
  --body-text-medium-medium-font-family: "DM Sans", Helvetica;
  --body-text-medium-medium-font-size: 16px;
  --body-text-medium-medium-font-style: normal;
  --body-text-medium-medium-font-weight: 500;
  --body-text-medium-medium-letter-spacing: -0.32px;
  --body-text-medium-medium-line-height: 28px;
  --body-text-small-body-small-medium-font-family: "DM Sans", Helvetica;
  --body-text-small-body-small-medium-font-size: 14px;
  --body-text-small-body-small-medium-font-style: normal;
  --body-text-small-body-small-medium-font-weight: 500;
  --body-text-small-body-small-medium-letter-spacing: -0.2800000000000001px;
  --body-text-small-body-small-medium-line-height: 24px;
  --brand-colorsgoogle: rgba(66, 133, 244, 1);
  --button-btn-font-family: "Roboto", Helvetica;
  --button-btn-font-size: 14px;
  --button-btn-font-style: normal;
  --button-btn-font-weight: 500;
  --button-btn-letter-spacing: 1.0800000429153442px;
  --button-btn-line-height: normal;
  --display-text-extra-small-bold-font-family: "DM Sans", Helvetica;
  --display-text-extra-small-bold-font-size: 24px;
  --display-text-extra-small-bold-font-style: normal;
  --display-text-extra-small-bold-font-weight: 700;
  --display-text-extra-small-bold-letter-spacing: -0.48px;
  --display-text-extra-small-bold-line-height: 32px;
  --display-text-small-bold-font-family: "DM Sans", Helvetica;
  --display-text-small-bold-font-size: 34px;
  --display-text-small-bold-font-style: normal;
  --display-text-small-bold-font-weight: 700;
  --display-text-small-bold-letter-spacing: -0.68px;
  --display-text-small-bold-line-height: 42px;
  --ffffff: rgba(255, 255, 255, 1);
  --gray-100: rgba(236, 236, 236, 1);
  --gray-300: rgba(197, 197, 197, 1);
  --gray-600: rgba(126, 126, 126, 1);
  --gray-800: rgba(63, 63, 63, 1);
  --grey: rgba(104, 124, 148, 1);
  --heading-font-family: "ABeeZee", Helvetica;
  --heading-font-size: 24px;
  --heading-font-style: normal;
  --heading-font-weight: 400;
  --heading-letter-spacing: 0px;
  --heading-line-height: normal;
  --headline-h6-font-family: "Roboto", Helvetica;
  --headline-h6-font-size: 16px;
  --headline-h6-font-style: normal;
  --headline-h6-font-weight: 500;
  --headline-h6-letter-spacing: 0px;
  --headline-h6-line-height: normal;
  --lightlight-20: rgba(217, 225, 225, 0.2);
  --navy-blue: rgba(16, 16, 123, 1);
  --neutral-colors500: rgba(224, 224, 233, 1);
  --neutral-colorswhite: rgba(255, 255, 255, 1);
  --paragraph-font-family: "ABeeZee", Helvetica;
  --paragraph-font-size: 12px;
  --paragraph-font-style: normal;
  --paragraph-font-weight: 400;
  --paragraph-letter-spacing: 0px;
  --paragraph-line-height: normal;
  --primary: rgba(120, 72, 244, 1);
  --primarypurple-blue500-primary-color: rgba(67, 24, 255, 1);
  --shadow-2px: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  --shadow-4-px: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  --sub-heading-font-family: "ABeeZee", Helvetica;
  --sub-heading-font-size: 18px;
  --sub-heading-font-style: normal;
  --sub-heading-font-weight: 400;
  --sub-heading-letter-spacing: 0px;
  --sub-heading-line-height: normal;
  --sub-paragraph-font-family: "Abel", Helvetica;
  --sub-paragraph-font-size: 12px;
  --sub-paragraph-font-style: normal;
  --sub-paragraph-font-weight: 400;
  --sub-paragraph-letter-spacing: 0px;
  --sub-paragraph-line-height: normal;
  --white: rgba(255, 255, 255, 1);
  --white-1: rgba(255, 255, 255, 1);
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --background-grey: rgba(248, 248, 250, 1);
  --big-heading-font-family: "ABeeZee", Helvetica;
  --big-heading-font-size: 36px;
  --big-heading-font-style: normal;
  --big-heading-font-weight: 400;
  --big-heading-letter-spacing: 0px;
  --big-heading-line-height: normal;
  --black: rgba(19, 19, 21, 1);
  --body-text-font-family: "Abel", Helvetica;
  --body-text-font-size: 16px;
  --body-text-font-style: normal;
  --body-text-font-weight: 400;
  --body-text-large-bold-font-family: "DM Sans", Helvetica;
  --body-text-large-bold-font-size: 18px;
  --body-text-large-bold-font-style: normal;
  --body-text-large-bold-font-weight: 700;
  --body-text-large-bold-letter-spacing: -0.36px;
  --body-text-large-bold-line-height: 30px;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: normal;
  --body-text-medium-medium-font-family: "DM Sans", Helvetica;
  --body-text-medium-medium-font-size: 16px;
  --body-text-medium-medium-font-style: normal;
  --body-text-medium-medium-font-weight: 500;
  --body-text-medium-medium-letter-spacing: -0.32px;
  --body-text-medium-medium-line-height: 28px;
  --body-text-small-body-small-medium-font-family: "DM Sans", Helvetica;
  --body-text-small-body-small-medium-font-size: 14px;
  --body-text-small-body-small-medium-font-style: normal;
  --body-text-small-body-small-medium-font-weight: 500;
  --body-text-small-body-small-medium-letter-spacing: -0.2800000000000001px;
  --body-text-small-body-small-medium-line-height: 24px;
  --brand-colorsgoogle: rgba(66, 133, 244, 1);
  --button-btn-font-family: "Roboto", Helvetica;
  --button-btn-font-size: 14px;
  --button-btn-font-style: normal;
  --button-btn-font-weight: 500;
  --button-btn-letter-spacing: 1.0800000429153442px;
  --button-btn-line-height: normal;
  --display-text-extra-small-bold-font-family: "DM Sans", Helvetica;
  --display-text-extra-small-bold-font-size: 24px;
  --display-text-extra-small-bold-font-style: normal;
  --display-text-extra-small-bold-font-weight: 700;
  --display-text-extra-small-bold-letter-spacing: -0.48px;
  --display-text-extra-small-bold-line-height: 32px;
  --display-text-small-bold-font-family: "DM Sans", Helvetica;
  --display-text-small-bold-font-size: 34px;
  --display-text-small-bold-font-style: normal;
  --display-text-small-bold-font-weight: 700;
  --display-text-small-bold-letter-spacing: -0.68px;
  --display-text-small-bold-line-height: 42px;
  --ffffff: rgba(255, 255, 255, 1);
  --gray-100: rgba(236, 236, 236, 1);
  --gray-300: rgba(197, 197, 197, 1);
  --gray-600: rgba(126, 126, 126, 1);
  --gray-800: rgba(63, 63, 63, 1);
  --grey: rgba(104, 124, 148, 1);
  --heading-font-family: "ABeeZee", Helvetica;
  --heading-font-size: 24px;
  --heading-font-style: normal;
  --heading-font-weight: 400;
  --heading-letter-spacing: 0px;
  --heading-line-height: normal;
  --headline-h6-font-family: "Roboto", Helvetica;
  --headline-h6-font-size: 16px;
  --headline-h6-font-style: normal;
  --headline-h6-font-weight: 500;
  --headline-h6-letter-spacing: 0px;
  --headline-h6-line-height: normal;
  --lightlight-20: rgba(217, 225, 225, 0.2);
  --navy-blue: rgba(16, 16, 123, 1);
  --neutral-colors500: rgba(224, 224, 233, 1);
  --neutral-colorswhite: rgba(255, 255, 255, 1);
  --paragraph-font-family: "ABeeZee", Helvetica;
  --paragraph-font-size: 12px;
  --paragraph-font-style: normal;
  --paragraph-font-weight: 400;
  --paragraph-letter-spacing: 0px;
  --paragraph-line-height: normal;
  --primary: rgba(120, 72, 244, 1);
  --primarypurple-blue500-primary-color: rgba(67, 24, 255, 1);
  --shadow-2px: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  --shadow-4-px: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  --sub-heading-font-family: "ABeeZee", Helvetica;
  --sub-heading-font-size: 18px;
  --sub-heading-font-style: normal;
  --sub-heading-font-weight: 400;
  --sub-heading-letter-spacing: 0px;
  --sub-heading-line-height: normal;
  --sub-paragraph-font-family: "Abel", Helvetica;
  --sub-paragraph-font-size: 12px;
  --sub-paragraph-font-style: normal;
  --sub-paragraph-font-weight: 400;
  --sub-paragraph-letter-spacing: 0px;
  --sub-paragraph-line-height: normal;
  --white: rgba(255, 255, 255, 1);
  --white-1: rgba(255, 255, 255, 1);
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --background-grey: rgba(248, 248, 250, 1);
  --big-heading-font-family: "ABeeZee", Helvetica;
  --big-heading-font-size: 36px;
  --big-heading-font-style: normal;
  --big-heading-font-weight: 400;
  --big-heading-letter-spacing: 0px;
  --big-heading-line-height: normal;
  --black: rgba(19, 19, 21, 1);
  --body-text-font-family: "Abel", Helvetica;
  --body-text-font-size: 16px;
  --body-text-font-style: normal;
  --body-text-font-weight: 400;
  --body-text-large-bold-font-family: "DM Sans", Helvetica;
  --body-text-large-bold-font-size: 18px;
  --body-text-large-bold-font-style: normal;
  --body-text-large-bold-font-weight: 700;
  --body-text-large-bold-letter-spacing: -0.36px;
  --body-text-large-bold-line-height: 30px;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: normal;
  --body-text-medium-medium-font-family: "DM Sans", Helvetica;
  --body-text-medium-medium-font-size: 16px;
  --body-text-medium-medium-font-style: normal;
  --body-text-medium-medium-font-weight: 500;
  --body-text-medium-medium-letter-spacing: -0.32px;
  --body-text-medium-medium-line-height: 28px;
  --body-text-small-body-small-medium-font-family: "DM Sans", Helvetica;
  --body-text-small-body-small-medium-font-size: 14px;
  --body-text-small-body-small-medium-font-style: normal;
  --body-text-small-body-small-medium-font-weight: 500;
  --body-text-small-body-small-medium-letter-spacing: -0.2800000000000001px;
  --body-text-small-body-small-medium-line-height: 24px;
  --brand-colorsgoogle: rgba(66, 133, 244, 1);
  --button-btn-font-family: "Roboto", Helvetica;
  --button-btn-font-size: 14px;
  --button-btn-font-style: normal;
  --button-btn-font-weight: 500;
  --button-btn-letter-spacing: 1.0800000429153442px;
  --button-btn-line-height: normal;
  --display-text-extra-small-bold-font-family: "DM Sans", Helvetica;
  --display-text-extra-small-bold-font-size: 24px;
  --display-text-extra-small-bold-font-style: normal;
  --display-text-extra-small-bold-font-weight: 700;
  --display-text-extra-small-bold-letter-spacing: -0.48px;
  --display-text-extra-small-bold-line-height: 32px;
  --display-text-small-bold-font-family: "DM Sans", Helvetica;
  --display-text-small-bold-font-size: 34px;
  --display-text-small-bold-font-style: normal;
  --display-text-small-bold-font-weight: 700;
  --display-text-small-bold-letter-spacing: -0.68px;
  --display-text-small-bold-line-height: 42px;
  --ffffff: rgba(255, 255, 255, 1);
  --gray-100: rgba(236, 236, 236, 1);
  --gray-300: rgba(197, 197, 197, 1);
  --gray-600: rgba(126, 126, 126, 1);
  --gray-800: rgba(63, 63, 63, 1);
  --grey: rgba(104, 124, 148, 1);
  --heading-font-family: "ABeeZee", Helvetica;
  --heading-font-size: 24px;
  --heading-font-style: normal;
  --heading-font-weight: 400;
  --heading-letter-spacing: 0px;
  --heading-line-height: normal;
  --headline-h6-font-family: "Roboto", Helvetica;
  --headline-h6-font-size: 16px;
  --headline-h6-font-style: normal;
  --headline-h6-font-weight: 500;
  --headline-h6-letter-spacing: 0px;
  --headline-h6-line-height: normal;
  --lightlight-20: rgba(217, 225, 225, 0.2);
  --navy-blue: rgba(16, 16, 123, 1);
  --neutral-colors500: rgba(224, 224, 233, 1);
  --neutral-colorswhite: rgba(255, 255, 255, 1);
  --paragraph-font-family: "ABeeZee", Helvetica;
  --paragraph-font-size: 12px;
  --paragraph-font-style: normal;
  --paragraph-font-weight: 400;
  --paragraph-letter-spacing: 0px;
  --paragraph-line-height: normal;
  --primary: rgba(120, 72, 244, 1);
  --primarypurple-blue500-primary-color: rgba(67, 24, 255, 1);
  --shadow-2px: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  --shadow-4-px: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  --sub-heading-font-family: "ABeeZee", Helvetica;
  --sub-heading-font-size: 18px;
  --sub-heading-font-style: normal;
  --sub-heading-font-weight: 400;
  --sub-heading-letter-spacing: 0px;
  --sub-heading-line-height: normal;
  --sub-paragraph-font-family: "Abel", Helvetica;
  --sub-paragraph-font-size: 12px;
  --sub-paragraph-font-style: normal;
  --sub-paragraph-font-weight: 400;
  --sub-paragraph-letter-spacing: 0px;
  --sub-paragraph-line-height: normal;
  --white: rgba(255, 255, 255, 1);
  --white-1: rgba(255, 255, 255, 1);
}

/* The end of the injected content. */

:root {
  --background-grey: rgba(248, 248, 250, 1);
  --big-heading-font-family: "ABeeZee", Helvetica;
  --big-heading-font-size: 36px;
  --big-heading-font-style: normal;
  --big-heading-font-weight: 400;
  --big-heading-letter-spacing: 0px;
  --big-heading-line-height: normal;
  --black: rgba(19, 19, 21, 1);
  --body-text-font-family: "Abel", Helvetica;
  --body-text-font-size: 16px;
  --body-text-font-style: normal;
  --body-text-font-weight: 400;
  --body-text-large-bold-font-family: "DM Sans", Helvetica;
  --body-text-large-bold-font-size: 18px;
  --body-text-large-bold-font-style: normal;
  --body-text-large-bold-font-weight: 700;
  --body-text-large-bold-letter-spacing: -0.36px;
  --body-text-large-bold-line-height: 30px;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: normal;
  --body-text-medium-medium-font-family: "DM Sans", Helvetica;
  --body-text-medium-medium-font-size: 16px;
  --body-text-medium-medium-font-style: normal;
  --body-text-medium-medium-font-weight: 500;
  --body-text-medium-medium-letter-spacing: -0.32px;
  --body-text-medium-medium-line-height: 28px;
  --body-text-small-body-small-medium-font-family: "DM Sans", Helvetica;
  --body-text-small-body-small-medium-font-size: 14px;
  --body-text-small-body-small-medium-font-style: normal;
  --body-text-small-body-small-medium-font-weight: 500;
  --body-text-small-body-small-medium-letter-spacing: -0.2800000000000001px;
  --body-text-small-body-small-medium-line-height: 24px;
  --brand-colorsgoogle: rgba(66, 133, 244, 1);
  --button-btn-font-family: "Roboto", Helvetica;
  --button-btn-font-size: 14px;
  --button-btn-font-style: normal;
  --button-btn-font-weight: 500;
  --button-btn-letter-spacing: 1.0800000429153442px;
  --button-btn-line-height: normal;
  --display-text-extra-small-bold-font-family: "DM Sans", Helvetica;
  --display-text-extra-small-bold-font-size: 24px;
  --display-text-extra-small-bold-font-style: normal;
  --display-text-extra-small-bold-font-weight: 700;
  --display-text-extra-small-bold-letter-spacing: -0.48px;
  --display-text-extra-small-bold-line-height: 32px;
  --display-text-small-bold-font-family: "DM Sans", Helvetica;
  --display-text-small-bold-font-size: 34px;
  --display-text-small-bold-font-style: normal;
  --display-text-small-bold-font-weight: 700;
  --display-text-small-bold-letter-spacing: -0.68px;
  --display-text-small-bold-line-height: 42px;
  --ffffff: rgba(255, 255, 255, 1);
  --gray-100: rgba(236, 236, 236, 1);
  --gray-300: rgba(197, 197, 197, 1);
  --gray-600: rgba(126, 126, 126, 1);
  --gray-800: rgba(63, 63, 63, 1);
  --grey: rgba(104, 124, 148, 1);
  --heading-font-family: "ABeeZee", Helvetica;
  --heading-font-size: 24px;
  --heading-font-style: normal;
  --heading-font-weight: 400;
  --heading-letter-spacing: 0px;
  --heading-line-height: normal;
  --headline-h6-font-family: "Roboto", Helvetica;
  --headline-h6-font-size: 16px;
  --headline-h6-font-style: normal;
  --headline-h6-font-weight: 500;
  --headline-h6-letter-spacing: 0px;
  --headline-h6-line-height: normal;
  --lightlight-20: rgba(217, 225, 225, 0.2);
  --navy-blue: rgba(16, 16, 123, 1);
  --neutral-colors500: rgba(224, 224, 233, 1);
  --neutral-colorswhite: rgba(255, 255, 255, 1);
  --paragraph-font-family: "ABeeZee", Helvetica;
  --paragraph-font-size: 12px;
  --paragraph-font-style: normal;
  --paragraph-font-weight: 400;
  --paragraph-letter-spacing: 0px;
  --paragraph-line-height: normal;
  --primary: rgba(120, 72, 244, 1);
  --primarypurple-blue500-primary-color: rgba(67, 24, 255, 1);
  --shadow-2px: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  --shadow-4-px: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  --sub-heading-font-family: "ABeeZee", Helvetica;
  --sub-heading-font-size: 18px;
  --sub-heading-font-style: normal;
  --sub-heading-font-weight: 400;
  --sub-heading-letter-spacing: 0px;
  --sub-heading-line-height: normal;
  --sub-paragraph-font-family: "Abel", Helvetica;
  --sub-paragraph-font-size: 12px;
  --sub-paragraph-font-style: normal;
  --sub-paragraph-font-weight: 400;
  --sub-paragraph-letter-spacing: 0px;
  --sub-paragraph-line-height: normal;
  --white: rgba(255, 255, 255, 1);
  --white-1: rgba(255, 255, 255, 1);
}
